.pricing {
    width: 90%;
    margin: 0 auto;
}

.pricebox {
    background: #d7f4f8e0;
    border: 1px solid #24dcf5;
    display: flex;
    margin: 10px;
    flex-direction: column;
    width: 31%;
    justify-content: stretch;
}

.pricebox h4.price {
    background:rgb(177, 226, 235); 
    color: #000000;
    padding: 15px;
}

.pricebox img {
    margin-bottom: 10px;
}

.pricebox a.button {
    display: block;
    width: 40%;
    margin: 10px auto;
    color: #000000;
    background:rgb(177, 226, 235); 
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding: 1px;
}
footer {
    clear: left;
}
body {
    background-color: rgb(149, 196, 199);
}