<div class="container py-5">
  <h1 class="text-center text-info">Our Services</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4 my-4">
    <div class="col">
      <div class="card h-100 border-info text-center bg-transparent">
        <div class="card-body">
          <h4 class="card-title text-info">Task Management</h4>
          <p class="card-text text-white">
            Create and delete tasks easily. Prioritize your tasks based on their
            urgency and importance. Stay organized and manage your time
            effectively with our intuitive interface.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 border-info text-center bg-transparent">
        <div class="card-body">
          <h4 class="card-title text-info">Task Tracking</h4>
          <p class="card-text text-white">
            Monitor the progress of your tasks with our task tracking service.
            Get a clear overview of your completed unfinished tasks, helping you
            focus on the tasks that need your attention.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 border-info text-center bg-transparent">
        <div class="card-body">
          <h4 class="card-title text-info">Daily Reminders</h4>
          <p class="card-text text-white">
            " <span class="text-warning">Coming soon </span>" Never miss a
            deadline again with our daily reminders service. Set due dates for
            your tasks and get notified when they're due, ensuring you're always
            on top of your schedule.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
