span {
  color: rgb(0, 175, 131);
}
.messages {
  border: 3px solid rgb(0, 175, 131);
  color: rgb(0, 175, 131);
  padding: 2em;
  margin-bottom: 2em;
  margin-top: 0.5em;
  list-style-type: square;
}
div h2 {
  text-align: center;
}
.info {
  text-align: center;
}
form div {
  padding-top: 1em;
}
form {
  text-align: top;
}
@media screen and (max-width: 350px) {
  .banner h2 {
    font-size: 20px;
    padding-right: 2em;
  }
}
@media screen and (max-width: 601px) {
  .info {
    align-self: center;
  }
}
